/* Laptop ============================ */
@media (max-width: 992px) {
  /* Header Section  */
  .header-container {
    padding: 0 80px;
  }
  .navbar {
    gap: 10px;
  }

  /* hero section  */
  .hero-box-a {
    padding-left: 40px;
  }
  .hero-box-b {
    padding-right: 40px;
  }

  .hero-box .hero-box-title {
    margin-bottom: 20px;
    font-size: 88px;
  }

  .hero-box .hero-box-stats {
    color: #0b0223;
    font-size: 43px;
  }

  /* We are gamer Section  */
  .we-are-gamer {
    padding: 100px 40px;
  }

  .we-are-gamer-container {
    flex-direction: column;
    gap: 20px;
  }
  .gamer-box-a {
    width: 100%;
  }
  .gamer-box-b {
    width: 100%;
    text-align: center;
  }

  /* funny-videos Section  */
  .funny-videos {
    padding: 40px;
  }
  .play-instantly-box-b .play-instantly-box-img-top {
    max-width: 320px;
  }
  .play-instantly-box-b .play-instantly-box-img-bottom {
    max-width: 130px;
    top: -110px;
    left: -60%;
  }

  .play-instantly-container {
    padding: 40px;
  }
  .play-instantly-box-a {
    width: 50%;
  }

  .play-instantly-box-b {
    width: 50%;
  }

  /* Careers Section  */
  .career-box {
    width: 100%;
  }
  .career-box-a {
    margin: 50px 0;
    margin-left: 50px;
  }

  .careers-container {
    flex-direction: column;
    width: 100%;
    gap: 20px;
  }

  .careers-info-container {
    width: 100%;
  }
  .career-box-a {
    margin: 0;
    padding: 40px;
  }

  /* games-category-section  */
  .games-category-container {
    padding: 40px;
    display: grid;
    justify-content: center;
    align-items: center;
    grid-template-columns: repeat(3, 1fr);
  }

/* Footer Section  */
.footer-container {
    padding: 40px;
}



}

/* Tab Screen ============================ */
@media (max-width: 768px) {
  /* Header Section  */
  .header-logo {
    margin-bottom: 20px;
  }
  .navbar {
    gap: 0px;
  }
  .header-container {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    height: auto;
    box-shadow: none;
    padding: 50px;
    gap: 50px;
  }

  .navbar {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 0px;
  }

  /* hero section  */
  .hero-section {
    flex-direction: column-reverse;
    gap: 20px;
    max-height: 1200px;
    align-items: center;
  }
  .hero-box {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
  }

  .hero-box-a {
    background-size: 105%;
    background-repeat: no-repeat;
    padding: 40px;
  }

  .hero-box-b {
    padding: 40px;
  }

  /* we-are-gamer */
  .we-are-gamer {
    background: #fff;
  }

  /* funny-videos Section  */
  .funny-videos {
    padding: 40px;
  }

  .funny-video-box-container {
    grid-gap: 15px;
    grid-template-columns: repeat(2, 1fr);
  }

  .funny-video-box {
    margin-bottom: 20px;
  }
  .section-title-header {
    font-size: 40px;
  }

  /* funny-videos Section  */
  .play-instantly-container {
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 50px;
  }

  .funny-videos {
    padding: 40px;
  }
  .play-instantly-box-a {
    text-align: center;
  }
  .play-instantly-box-b .play-instantly-box-img-top {
    max-width: 80%;
  }
  .play-instantly-box-b .play-instantly-box-img-bottom {
    max-width: 40%;
    top: -125px;
    left: -60%;
  }

  .play-instantly-box-a {
    width: 100%;
  }

  .play-instantly-box-b {
    width: 100%;
  }

  /* Careers Section   */
  .career-box-title {
    font-size: 35px;
  }

  .career-box-b {
    padding: 40px;
  }
  .career-box-b img {
    min-height: auto;
    height: auto;
  }

  /* games-category-section  */

  .games-category-box {
    padding: 3px 6px;
}

  .games-category-box .games-category-box-img {
    width: 40px;
    height: 40px;
}

.games-category-box-title {
    color: #0B0223;
    font-size: 15px;
    font-weight: 600;
}

/* Footer Section  */
.footer-menu-container {
    flex-direction: column;
    gap: 20px;
    justify-content: center;
    align-items: center;
}

.footer-social-icon-container {
    flex-direction: column;
    gap: 20px;
    justify-content: center;
    align-items: center;
}

.footer-setting-menu-container {
    flex-direction: column;
    gap: 10px;
    justify-content: center;
    align-items: center;
}


}

/* Mobile Screen ============================ */
@media (max-width: 576px) {
  /* hero section  */
  .hero-btn-box button {
    font-size: 18px;

    padding: 1rem 1.8rem;
    border-radius: 50px;
  }

  .hero-box .hero-box-title {
    margin-bottom: 20px;
    font-size: 80px;
    font-weight: 800;
  }

  .hero-box .hero-box-stats {
    font-size: 40px;
  }

  /* We are gamer Section  */
  .gamer-box-title {
    font-size: 40px;
  }
  .gamer-box-title-description {
    font-size: 16px;
  }
  .gamer-box-footer-text span {
    font-size: 22px;
  }

  /* funny-videos Section  */

  .funny-video-box-container {
    grid-gap: 15px;
    grid-template-columns: 1fr;
  }

  .funny-video-box {
    margin-bottom: 40px;
  }
  .section-title-header {
    font-size: 30px;
  }

  .funny-video-box-footer {
    margin-top: 15px;
    text-align: center;
  }

  .section-title-description {
    font-size: 17px;
  }

  /* funny-videos Section  */
  .play-instantly-content {
    font-size: 35px;
    margin-bottom: 15px;
  }
  .play-instantly-box-b .play-instantly-box-img-top {
    max-width: 75%;
  }
  .play-instantly-box-b .play-instantly-box-img-bottom {
    max-width: 35%;
    top: -100px;
    left: -58%;
  }

  /* Careers Section  */
  .career-box-description {
    font-size: 15px;
  }
  .careers-info-box p {
    font-size: 13px;
  }

  .careers-box-btn {
    padding: 0.6rem 0.9rem;
    font-size: 12px;
    border-radius: 30px;
    margin: 0;
  }

  .careers-info-container {
    margin: 30px 0;
  }

  /* games-category-section */
  .games-category-box {
    margin-bottom: 10px;
  }
  .games-category-box .games-category-box-img {
    width: 30px;
    height: 30px;
}

.games-category-box-title {
    font-size: 13px;
}

/* footer section */

.footer-menu-box a {
    font-size: 14px;
}

.footer-setting-menu-box a {
    font-size: 14px;
}

.copyright p {
    font-size: 14px;
}



}
